
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.woff2) format('.woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.woff2) format('.woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.woff2) format('.woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Bookman-bold';
    src: url(../fonts/bookman-Bold.woff2) format('.woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'PT-Sans';
    src: url(../fonts/PTSans-Bold.woff2) format('.woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@keyframes toTop {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}
html{
    scroll-behavior: smooth;
}

.invert{
    filter: invert(1) hue-rotate(180deg);
}
section{
    
    visibility: hidden;
    border-bottom: 1px solid #4b4b4b;
}
h3{
    white-space: normal;
    word-break: break-word;
}
a{
    display: block;
}
.container{
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 15px;
}
.header__container{
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 15px;
}
.header{
    min-height: 70px;
    border-bottom: 1px solid #fff;
}
.header__nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.header__grid-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.header__logo-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.header__logo-link{
    display: inline-block;
    color: #fff;
    position: relative;
    min-width: 185px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
}
.header__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
.header__nav-link{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    font-family: "Raleway-medium";
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
    position: relative;
}

.icon-mail{
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.burger-text{
    font-size: 24px;
    color: #fff;

}
.burger-item{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__nav-link:hover{
    text-underline-offset: 7px;
    text-decoration: underline;
    text-align: center;
}
.donate-btn, .header__donate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    min-height: 45px;
    background-color: #fff;
    border-radius: 10px;
    font-family: "Gilroy";
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000;
    font-size: 18px;
    position: relative;
    text-align: center;
}
.hero{
    width: 100%;
    min-height: 700px;
    color: #fff;
}
.hero__wrapper{
    padding-top: 80px;
    animation-name: leftToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
.hero__overtitle{
    max-width: 300px;
    min-height: 30px;
    font-family: 'Charis-sil';
    font-size: 14px;
    text-align: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 1px solid #fff;
    line-height: 28px;
    letter-spacing: 2px;
    position: relative;
}
.hero__overtitle::before{
    content: '';
    background-image: url(../icons/shield-white.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 30px;
}
.hero__title{
    font-family: 'Bookman-bold';
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 35px;
    letter-spacing: 1px;
}
.hero__subtitle{
    font-family: 'Gilroy';
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 83px;
}
.hero__button-wrapper{
    max-width: 520px;
    display: flex;
    column-gap: 45px;
    margin-top: 35px;
}

.hero__about{
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.hero__about::before{
    content: "";
    background-image: url(../icons/info.svg);
    position: absolute;
    left: -25px;
    top: 12px;
    width: 20px;
    height: 20px;
}
.findTheHelp{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 80px;
}
.findTheHelp__title{
    font-family: 'Bookman-bold';
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 80px;
}
.findTheHelp__background{
    display: block;
    margin: 0 auto;
    max-width: 285px;
    min-height: 68px;
    margin-top: 45px;
    margin-bottom: 53px;
}
.findTheHelp__subtitle, .tab{
    font-family: "Gilroy";
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 5.5px;
    text-align: center;
}
.findTheHelp__grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
}
.findTheHelp__item{
    max-width: 400px;
    min-height: 277px;
    background-color: #161616;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #fff;
}
.findTheHelp__flex-container{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.findTheHelp__img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    width: 52px;
    height: 52px;
    background-color: #2e2e2e;
    border-radius: 10px;
}
.findTheHelp__title-item{
    font-family: 'Bookman-bold';
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
}
.findTheHelp__subtitle-item{
    font-family: "Gilroy";
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.fundActivities{
    width: 100%;
    padding-block: 80px;
}
.fundActivities__title{
    font-family: 'Bookman-bold';
    color: #fff;
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 700;
}
.fundActivities__grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin-top: 50px;
}
.fundActivities__item{
    display: flex;
    flex-direction: column;

    max-width: 400px;
    min-height: 430px;
    border-radius: 45px;
    padding: 20px;
    border: 1px solid #fff;
}
.fundActivities__img-wrapper{
    margin: 0 auto;
    width: 142px;
    min-height: 144px;
}
.fundActivities__icons{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fundActivities__title-item{
    font-family: "PT-Sans";
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-block: 20px;
}
.fundActivities__subtitle-item{
    font-family: "Gilroy";
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
.fundActivities__link{
    color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 24px;
    margin-top: auto;
    cursor: pointer;
    text-decoration: underline;
}
.fundActivities__link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.donate{
    width: 100%;
    height: 500px;
    padding-block: 80px;
    overflow: hidden;
}
.donate__wrapper{
    display: flex;
    justify-content: space-between;
}
.donate__text-container{
    max-width: 800px;
}
.donate__title{
    font-family: 'Bookman-bold';
    color: #fff;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: 40px;
}
.donate__subtitle{
    font-family: "Gilroy";
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 45px;
}
.footer{
    width: 100%;
    min-height: 600px;
}
.footer__wrapper{
    padding-block: 80px;
}
.footer__title{
    font-family: 'Bookman-bold';
    color: #fff;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
}
.footer__subtitle{
    font-family: "Gilroy";
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 3.5px;
    text-align: center;
    margin-top: 30px;
}
.footer__subtitle:last-of-type{
    margin-top: 0px;
}
.footer__grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 150px;
    position: relative;
}
.footer__grid-container::after{
    content: "";
    background-image: url('../icons/line.png');
    width: 17px;
    height: 290px;
    position: absolute;
    top: -100px;
}
.footer__contacts{
    display: block;
    font-family: "Gilroy";
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 3.5px;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.mail{
    position: relative;
}

.footer__copy-mail{
    font-size: 10px;
    color: #fff;
    width: 200px;
    z-index: 5;
}
.mail:hover .footer__copy-mail{
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
}
.footer__contacts:hover{
    text-underline-offset: 25px;
}
.hero__popup{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.200);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
.popup__wrapper{
    max-width: 770px;
    max-height: 90vh; /* чтоб не вылазило за экран */
    overflow-y: auto;
    border: 1px solid #fff;
    border-radius: 25px;
    background: #eeeeee;
    padding: 25px;
    position: relative;
    filter: none;
}
.popup__title{
    font-family: "Bookman-bold";
    font-size: 36px;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
}
.popup__close{
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
    cursor: pointer;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 25px;
    right: 45px;
}
.popup__subtitle{
    font-family: "Gilroy";
    font-size: 24px;
    text-align: center;
    color: #000000;
    letter-spacing: 1.5px;
    margin-top: 25px;
}
.loked{
    overflow: hidden;
}
.open{
    display: flex;
}
.header__nav-mobile.flex-open {
    display: flex;
}
.anim{
    visibility: visible;
    animation-name: toTop;
    animation-duration: 2s;
    animation-timing-function: ease;
}
.header__nav-mobile{
    display: none;
    justify-content: end;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.300);
    z-index: 100;
}
.burger-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 50px;
}
.wrapper-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 300px;
    background-color: #0a0a0a; 
    position: relative;
}
.burger-close{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
}

.burger-menu{
    display: none;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}
.donate__title-tablet{
    display: none;
}
.donate__help{
    display: none;
}
.wrapper{
    display: none;
}
.donate__qr-link{
    display: none;
}
.br-mobile{
    display: none;
}
.donate-btn{
    margin: 0px;
    padding: 0px;
}
.mobiles{
    display: none;
}
@media (max-width: 1140px) {
    .wrapper{
        display: none;
    }
    .header__donate-btn{
        display: none;
    }
    .findTheHelp__grid-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        place-items: center;
    }
    .container{
        max-width: 940px;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .donate__wrapper{
        gap: 50px;
    }
    .donate__img-wrapper{
        display: flex;
        align-items: center;
    }
    .fundActivities__title-item{
        line-height: 30px;
    }
}
@media (max-width: 1024px) {
    .br-mobile{
        display: none;
    }
    .container{
        max-width: 940px;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .donate{
        padding-block: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .donate__help{
        font-family: "Gilroy";
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-top: 5px;
    }
    .fundActivities{
        min-width: 600px;
    }
    .footer{
        min-height: 600px;
    }
    .footer__wrapper{
        padding-block: 40px;
    }
    .footer__grid-container{
        margin-top: 100px;
    }
    .hero__about::before{
        left: -25px;
    }
}
@media (max-width: 768px) {
    .wrapper{
        display: block;
    }
    .popup__wrapper {
        min-height: auto;  /* убираем жёсткую высоту */
        width: 95%;
        border-radius: 15px;
    }
    .container{
        max-width: 770px;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .hero{
        min-height: 570px;
    }
    .header{
        display: flex;
        align-items: center;
    }
    .fundActivities__link{
        /*  */
    }
    .header__logo-link{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
    }
    .header__nav-wrapper{
        display: none;
    }
    .header__nav-link{
        font-family: "Gilroy";
        font-size: 22px;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
    .burger-menu{
        display: block;
        width: 40px;
        height: 40px;
    }
    .header__container{
        width: 100%;
    }
    .header__grid-container{
        width: 100%;
    }
    .hero__wrapper{
        padding-top: 40px;
    }
    .hero__title{
        font-size: 40px;
        line-height: 55px;
    }
    .hero__subtitle{
        margin-top: 40px;
        font-size: 26px;
    }
    .findTheHelp__subtitle{
        letter-spacing: 3.5px;
    }
    .fundActivities__grid-wrapper{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 200px);
        grid-auto-flow: row;
        column-gap: 0px;
        row-gap: 50px;
    }
    .fundActivities__item{
        min-width: 100%;
        min-height: 200px;
        position: relative;
    }
    .fundActivities__img-wrapper{
        margin: 0;
    }
    .fundActivities__title-item{
        position: absolute;
        top: 5px;
        left: 30%;
        text-align: start;
        padding-bottom: 0px;
    }
    .fundActivities__subtitle-item{
        position: absolute;
        top: 80px;
        left: 30%;
        text-align: start;
        padding-right: 20px;
    }
    .donate{
        padding-block: 0px;
        height: 500px;
    }
    .donate__text-container{
        padding-block: 10px;
    }
    .donate__title{
        display: none;
    }
    .donate__title-tablet{
        display: block;
        font-family: 'Bookman-bold';
        color: #fff;
        font-size: 50px;
        letter-spacing: 4px;
        font-weight: 700;
        margin-block: 20px;
        text-align: center;
    }
    .donate__subtitle{
        font-size: 28px;
    }
    .footer{
        min-height: 700px;
    }
    .footer__wrapper{
        padding-block: 40px;
    }
    .footer__grid-container{
        margin-top: 100px;
    }
}
@media (max-width: 740px) {
    .donate__wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .donate__img-wrapper{
        display: none;
    }
    .donate__qr-link{
        display: block;
    }
    .donate__wrapper{
        gap: 20px;
    }
    .popup__title{
        font-size: 29px;
    }
    .popup__subtitle{
        font-size: 18px;
    }
    .popup__close{
        right: 25px;
    }
    .donate-btn{
        font-size: 16px;
    }
    .burger-text{
        font-size: 20px;
    }
}
@media (max-width: 620px) {
    .wrapper-ul{
        width: 50%;
    }
    .container{
        max-width: 590px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .hero__subtitle{
        font-size: 28px;
        line-height: 32px;
    }
    .donate{
        height: 600px;
    }
    .fundActivities__grid-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-template-rows: none;
    }
    .fundActivities__item{
        position: static;
    }
    .fundActivities__link{
        margin-top: 10px;
    }
    .fundActivities__img-wrapper{
        margin: 0 auto;
    }
    .fundActivities__title{
        font-size: 43px;
    }
    .fundActivities__title-item{
        position: static;
        padding-bottom: 0px;
        text-align: center;
    }
    .fundActivities__subtitle-item{
        position: static;
        text-align: start;
        padding-right: 0px;
        text-align: center;
        margin-top: 25px;
    }
    .fundActivities{
        min-width: auto;
    }
    .donate__title-tablet{
        font-size: 24px;
    }
    .donate{
        height: 700px;
    }
    .donate__subtitle{
        text-align: center;
    }
    .donate__title-tablet{
        font-size: 40px;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .hero__title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 20px;
    }
    .findTheHelp__title{
        font-size: 40px;
    }
    .br-del{
        display: none;
    }
    .br-mobile{
        display: block;
    }
    .footer__title{
        font-size: 42px;
    }
    .footer__contacts{
        font-size: 24px;
    }
    .footer__grid-container::after{
        background-image: url('../icons/mobile-line.png');
        width: 10px;
        height: 180px;
        left: 50%;
        top: -65px;
    }
    .footer{
        min-height: 700px;
    }
    .footer__wrapper{
        padding-block: 40px;
    }
    .footer__grid-container{
        margin-top: 100px;
    }
    .wrapper-ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger-list{
        margin: 0px;
    }
    .header__nav-link{
        font-size: 18px;
    }
}
@media (max-width: 425px) {
    .header__nav-link{
        font-family: "Gilroy";
        font-size: 18px;
    }
    .hero__title{
        font-size: 32px;
    }
    .fundActivities__title {
        font-size: 32px;
    }
    .donate__title-tablet{
        font-size: 32px;
    }
    .donate{
        min-height: 600px;
    }
    .donate__subtitle{
        font-size: 22px;
    }
    .fundActivities{
        padding-block: 40px;
    }
    .findTheHelp__title{
        padding-top: 40px;
    }
    .findTheHelp__background{
        max-width: 252px;
    }
    .findTheHelp__title{
        font-size: 32px;
    }
    .findTheHelp__grid-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .footer__contacts{
        font-size: 20px;
    }
}
@media (max-width: 370px) {
    .burger-text{
        font-size: 18px;
    }
    .wrapper-ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobiles{
        display: inline;
    }
    .hero__title{
        font-size: 25px;
    }
    .hero{
        max-height: 590px;
    }
    .header__logo-link{
        font-size: 24px;
    }
    .header__logo-img{
        width: 32px;
        height: 32px;
    }
    .hero__overtitle::before{
        left: 15px;
    }
    .hero__subtitle{
        font-size: 22px;
    }
}